/* ASIDE */
aside{
    width: 3.125rem;
    background-color: black;
    flex-shrink: 0;
    padding: .3125rem .9375rem ;
    display: flex;
    flex-direction: column;
    color: #707070;
    font-weight:bold;
    overflow-y: hidden;
    height: 100%;
}
/* navigazioni laterali */
aside ul li:not(.no-b-marg){
    margin-bottom: .9375rem;
}
nav.hide-xs{
    margin-top: 1.5625rem;
}
nav.hide-xs li{
    margin-bottom: 1.25rem;
}
.nav-icon{
    width: 1.5625rem;
    filter: invert(0.3);
    vertical-align: middle;
}
.vert-al{
    vertical-align: middle;
}
/* prima navigazione laterale */
.logo-icon{
    max-width: 10rem;
}
.home{
    border-left: .1875rem solid lightgreen;
    padding-left: .9375rem;
    margin-left: -1.25rem;
}
/* seconda navigazione laterale */
.nav-icon.profile{
    width: 1.5625rem;
    background-color: #808080;
    border-radius: 50%;
    margin-right: .625rem;
    filter: invert(0);
}
.hide-xs.no-b-marg{
    border-top: 2px solid #808080;
    padding-top: .9375rem;
    color: white;
}
.last-nav{
    width: 100%;
    margin-top: auto;
}
.download{
    margin-left: -0.125rem;
    margin-right: .625rem;
}
/* hover icone */
.nav-icon:hover{
    filter: invert(0);
}
/* crea playlist */
.hide-xs h3{
    color: white;
}
.playlist-header{
    display: flex; 
    align-items: center;
    margin: .9375rem 0 1.25rem;
}
.create-square{
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #a3a3a3;
    margin-right: .625rem;
    font-size: 2.5rem;
    color: black;
    line-height: 2.1875rem;
    text-align: center;
    cursor: pointer;
}
.playlist{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 5.375rem;
}
.hide-flex{
    display: none;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
/* RESPONSIVE */
@media screen and (min-width:600px) {
    aside{
        width: 14.375rem;
        padding: 1.25rem 1.25rem .3125rem;
    }
    .hide-xs{
        display: block;
    }
    .hide-flex{
        display: flex;
    }
    .show-xs{
        display: none;
    }
}
