/* ASIDE */
aside{
    width: 3.125rem;
    background-color: black;
    height: 100%;
    flex-shrink: 0;
    padding: .3125rem .9375rem ;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: #707070;
    font-weight:bold;
}
/* navigazioni laterali */
aside nav{
    max-width: 100%;
}
aside nav ul{
    list-style: none;
}
aside nav ul li:not(.no-b-marg){
    margin-bottom: .9375rem;
}
aside nav ul li a{
    text-decoration: none;
    color: inherit;
}
nav.hide-xs{
    margin-top: 1.5625rem;
}
nav.hide-xs li{
    margin-bottom: 1.25rem;
}
.nav-icon{
    max-width: 1.5625rem;
    filter: invert(0.3);
    vertical-align: middle;
}
.nav-icon.profile{
    width: 1.5625rem;
    background-color: #808080;
    border-radius: 50%;
}
.hide-xs.no-b-marg{
    border-top: 2px solid #808080;
    padding-top: .9375rem;
    color: white;
}
.last-nav{
    width: 100%;
}
.vert-al{
    vertical-align: middle;
}
/* crea playlist */
.create{
    display: flex; 
    font-size: 1.25rem;  
    align-items: center;
    margin-top: .9375rem;
}
.create-square{
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #a3a3a3;
    margin-right: .625rem;
    font-size: 2.5rem;
    color: black;
    line-height: 2.1875rem;
    text-align: center;
}
/* RESPONSIVE */
@media screen and (min-width:600px) {
    aside{
        width: 14.375rem;
        padding: 1.25rem 1.25rem .3125rem;
    }
    .hide-xs{
        display: block;
    }
    .show-xs{
        display: none;
    }
}
