/* FOOTER */
footer{
    height: 5.625rem;
    background-color: #282828;
    display: flex;
    padding: 0 .625rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.btn{
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: none;
}
/* prima colonna footer */
.song-heart{
    display: flex;
    justify-content: space-between;
    width: 15%;
    min-width: 10rem;
}
/* primo elemento della colonna */
.song{
    display: flex;
    align-items: center;
    width: 75%;
    min-width: 6.5625rem;
}
.footer-col ul{
    list-style: none;
    margin-left: .5rem;
}
.footer-col a{
    text-decoration: none;
    color: grey;
    font-size: .75rem;
}
.footer-col .album-name{
    color:white;
    font-size: .875rem;
}
.footer-img{
    max-width: 2.5rem;
    max-height: 2.5rem;
}
/* secondo elemento della colonna */
.heart-folder{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 25%;
    color: grey;
    min-width: 3.125rem;
}
/* seconda colonna footer */
.player{
    width: 70%;
    padding-bottom: 1.5625rem;
}
.player-up,.player-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-down{
    min-width: 12.5rem;
    font-size: .875rem;
}
.player-up .btn{
    padding: .625rem;
}
.btn.play{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 2rem;
}
.time-bar{
    width: 40%;
    padding: 0 .625rem;
}
.time-past{
    width: 35%;
}
.time-left{
    flex-grow: 1;
}
/* terza colonna footer */
.volume {
    display: flex;
    justify-content: space-around;
    min-width: 10rem;
}
.volume{
    width: 15%;
    padding-right: ;
}
.volume-bar{
    width: 60%;
}
.actual-volume{
    width: 30%;  
}
.total-volume{
    flex-grow: 1;
}
.bar{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-bar{
    height: .3125rem;
    background-color: white;
    border-radius: .3125rem;
}
.right-bar{  
    height: .3125rem;
    background-color: #5a5a5a;
    border-bottom-right-radius: .3125rem;
    border-top-right-radius: .3125rem;
}
.volume>*{
    padding: 0 .25rem;
}

