/* FOOTER */
footer{
    height: 5.625rem;
    background-color: #282828;
    display: flex;
    padding: 0 .625rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.btn{
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: none;
}
/* prima colonna footer */
.song-heart{
    display: flex;
    justify-content: space-between;
    width: 15%;
    min-width: 10rem;
}
/* primo elemento della colonna */
.song{
    display: flex;
    align-items: center;
    width: 75%;
    min-width: 6.5625rem;
}
.footer-col ul{
    margin-left: .5rem;
}
.footer-col a{
    color: grey;
    font-size: .75rem;
}
.footer-col .album-name{
    font-size: .875rem;
    color: white;
}
.footer-img{
    max-width: 2.5rem;
    max-height: 2.5rem;
}
/* secondo elemento della colonna */
.heart-folder{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 25%;
    color: grey;
    min-width: 3.125rem;
}
/* seconda colonna footer */
.player{
    width: 70%;
    margin-bottom: 1.5625rem;
}
.player-up,.player-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-up .btn{
    padding: .625rem;
}
.btn.play{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 2rem;
}
/* parte inferiore player */
.player-down{
    font-size: .875rem;
}
/* barra minutaggio */
.time-bar{
    width: 50%;
    padding: 0 .625rem;
}
.time-past{
    width: 35%;
}
/* terza colonna footer */
.volume {
    display: flex;
    justify-content: space-around;
    min-width: 10rem;
    width: 15%;
}
.volume>*{
    padding: 0 .3125rem;
}
/* barra volume */
.volume-bar{
    width: 60%;
    min-width: 5.3125rem;
}
.actual-volume{
    width: 30%;  
}
/* barra base */
.bar{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-bar{
    height: .375rem;
    background-color: white;
    border-radius: .3125rem;
    position: relative;
}
.right-bar{  
    height: .375rem;
    background-color: #5a5a5a;
    border-bottom-right-radius: .3125rem;
    border-top-right-radius: .3125rem;
    flex-grow: 1;
}
.bar-circle{
    height: .625rem;
    width: .625rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid;
    position: absolute;
    top: -0.125rem;
    right: 0;
    display: none;
}
/* RESPONSIVE */
@media screen and (min-width:700px) {
    .heart-folder{
        flex-direction: row;
    }
    .heart-folder>*{
        padding: 0 .4375rem;
    }
}
@media screen and (max-width:540px) {
    footer{
        flex-wrap: wrap;
        height: auto;
        padding-bottom: .5rem;
    }
    .player{
        width: 100%;
        order:-1;
        margin-bottom: .5rem;
    }

}