/* MAIN */
.container-main-aside{
    display: flex;
    height:calc(100% - 5.625rem);
}
main{
    background-color: #141922;
    height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    color: white;
}
/* sezione upgrade */
.upgrade{
    height: 5.625rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    text-align: right;
    line-height: 5.625rem;
    padding-right: .3125rem;
}
.upgrade-btn{
    text-decoration: none;
    color: white;
    padding: .9375rem 2.5rem;
    border: .125rem solid white;
    border-radius: 1.875rem;
}
/* navigazione superiore */
.main-nav ul{
    color: grey;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:center ;
}
.main-nav ul li{
    padding: 1.25rem .625rem;
}
.main-nav ul li a{
    text-decoration: none;
    color: inherit;
}
/* sezioni */
section{
    padding: 1.25rem 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.col{
    width: 50%; 
}
.album{
    padding: 0 .25rem;
    text-align: center;
}
.album-img{
    margin-bottom: 1.25rem;
}
.album-img img{
    width: 100%;
}
.section-title{
    margin-bottom: 1.875rem;
}
.album h4{
    margin-bottom: .625rem;
}
.album h5{
    color: grey;
    margin-bottom: .3125rem;
}
/* sezione CREATO PER  */
.section-title h3{
    margin-top: .9375rem;
    color:grey;
}
/* sezione ARTISTI PIù ASCOLTATI */
.circle-img{
    border-radius: 50%;
}
/* RESPONSIVE */
@media screen and (min-width:700px) {
    .col{
        width: 25%;
    }
}
@media screen and (min-width:1100px) {
    .col{
        width: calc(100% / 6)
    }
}